{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title 'Mes cours' %}

{% block page_content %}
<div  class="card">
    <div class="card-header"><h2 class="card-title" >Creer cours</h2></div>
    <div class="card-body"></div>
</div>
    <div class="MuiPaper-root MuiPaper-elevation1 MuiCard-root jss293 MuiPaper-rounded"><div><h3 class="MuiTypography-root MuiTypography-overline MuiTypography-gutterBottom">3 Classes</h3><div class="jss294"><a class="MuiTypography-root jss297 MuiTypography-h3" href="Mes cours">Mes cours</a></div></div><div class="MuiAvatar-root MuiAvatar-circle jss296"><img src=""{{ asset('images/classe.png') }}" classe.png" class="MuiAvatar-img"></div></div>

{% endblock %}
